body {
    background-color:   #cee5d0;

}
hr {
    border-style:dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;

}
img { height: 250px;}
h1 {color: #395B64;}
h2 {color: #395B64;}

